### PyCharm+all Patch ###
# Ignore everything but code style settings and run configurations
# that are supposed to be shared within teams.

.idea/*
.vscode/*

!.idea/codeStyles
!.idea/runConfigurations

# For dataset and training log ignorance
data/
weight_data/
runs/
__pycache__/
Refresh*.log